<!--Header-->
<style type="text/css">
.chico{
    border: 1px solid red !important;
}
.quita_scroll{
    overflow: hidden !important;
}
</style>
<div class="pure-u-md-1-1" id="contenedor-completo">    
    <div class="pure-u-md-20-24" data-ng-controller="FeedsController" data-ng-init="filtroAccount()" id="contenedor-feed" style="width:100%; margin-top:20px; height:110vh;"  when-scrolled="loadMoreFiltroAccount()">

        <div class="pure-u-md-1-1 twitsBuzon" when-scrolled="loadMoreFiltroAccount()">
            <div class="pure-u-md-1-1">
                <ul class="listado-mensajes" style="padding-top: 15px; padding-bottom:70px;">
                    
                    <li ng-class="{'ocupado': evalua_ocupado(twit._id),'no-leido': !twit.clasificacion,'asignado': (twit.asignado && !twit.clasificacion) }" ng-hide="evalOculto(twit._id)" data-ng-repeat="twit in posts" style="position:relative;"  ng-mouseover="(evalua_ocupado(twit._id)?showCheck = false:showCheck = true)" ng-mouseleave="showCheck = false" id="{{ 'object-' + $index }}">
                     
                        <div ng-class="{bloquea: evalua_ocupado(twit._id)}"></div>
                        <div class="mensaje-cont limpiar">
                            <div class="usuario">
                                <div class="notificacion" data-ng-show="twit.influencers"></div>
                                <!--Imagen -->                
                                <img ng-src="{{twit.imagen_https}}" fallback-src="/modules/core/img/usuario-sem-imagem.png" ng-if = "twit.obj === 'twitter'" ng-click ="actualizaImgTwitter(twit)" style="width:44px; height:44px; border:solid 2px #404040 !important; cursor: pointer !important;" class="circular" title = "Click para actualizar la foto" /> 
                                <img ng-src="{{twit | validaImgFacebook}}" ng-if = "twit.obj === 'facebook'" style="width:44px; height:44px; border:solid 2px #404040 !important; cursor: default !important;" class="circular"/> 
                            </div>
                            <div class="datos" ng-switch on="twit.obj">
                                <p class="nombre-usuario txt-gris2"></p>
                                <div ng-switch-when="facebook">
                                    <div class="izq"  style="clear: both; padding-bottom: 4px;">
                                        <p class="nombre-usuario-red txt-azul1 negrita izq" style="padding: 0px;margin:0px;">
                                            <a class="izq negrita" href="{{twit.urlUsuario}}" target="_blank">
                                                {{twit.nombre}}
                                            </a>
                                            
                                            <a href="{{twit.urlEnlace}}" target="_blank" class="etiqueta-facebook izq etiqueta-facebook-comentario"  style="margin-left: 10px;">Facebook</a>

                                            <label class="etiqueta-facebook izq" data-ng-if="twit.tipo == 'facebook_inbox'" style="width: 20px; margin-left: 5px;"><i class="fa fa-lock" style="font-size: 10px !important;"></i></label>
                                            
                                            <label class="etiqueta-facebook izq" data-ng-if="twit.tipo == 'rating'" style="width: 30px; margin-left: 5px;"><i class="fa fa-star" style="font-size: 10px !important;">{{twit.rating}}</i></label>                                         

                                            <div class="grupo-etiquetas-hora" data-ng-bind-html="twit.created_time | etiquetasFecha"></div>

                                            <label class="etiqueta-{{twit.tipoMensaje}} izq"  style="margin-left: 5px; text-transform:lowercase; text-transform: capitalize;">{{twit.tipoMensaje}}</label>
                                            
                                            <label data-ng-show="twit.descartado" class="etiqueta-{{twit.descartado.motivo}} izq" style="margin-top:0px; float: right; margin-left: 5px; border-radius: 3px; font-size: 9px;font-weight: 300;text-transform: capitalize;">{{twit.descartado.motivo | translate}}</label>
                                            
                                            <label class="etiqueta-gris izq"  style="margin-left: 5px; background-color: #465769 !important; cursor:pointer;" data-ng-show="twit.clasificacion.tema" title="{{twit.clasificacion.tema}}">Tema</label>
                                            
                                            <label class="etiqueta-gris izq"  style="margin-left: 5px; background-color: #465769 !important; cursor:pointer;" data-ng-show="twit.clasificacion.subtema" title="{{twit.clasificacion.subtema}}">Subtema</label>
                                        </p>    
                                    </div>
                                    <div class="izq" style="clear: both;">
                                        <div data-ng-controller="ModalDemoCtrl">
                                            <p class="comentario txt-gris3" style="line-height:17px;"   data-ng-if="twit.message.length < 300" data-ng-bind-html="twit.message | facebookMentions"></p>
                                           
                                            <p class="comentario txt-gris3" style="line-height:17px;"   data-ng-if="twit.message.length > 300" data-ng-bind-html="twit.message | facebookMentions | limitTo:300"></p>
                                            
                                            <p class="comentario" data-ng-show="twit.image_attachment">
                                                <a ng-click="actualizaImagenInbox(twit)" style="cursor:pointer;" title="Click para actualizar la imagen">
                                                    <img ng-src="{{twit.image_attachment}}" style="width:50px!important; height:50px!important;" fallback-att="{{twit._id}}">
                                                </a>
                                                <p class="mensajeErrorIMG_{{twit._id}}" style="color:#CC0000 !important:"></p>
                                            </p>

                                             <p class="comentario" data-ng-show="twit.image_sticker">
                                                <img ng-src="{{twit.image_sticker}}" style="width:50px!important; height:50px!important;">
                                            </p>
                                             
                                             <p class="comentario" data-ng-show="twit.shares.data[0].link && !twit.image_sticker">
                                                <img ng-src="{{twit.shares.data[0].link}}" style="width:50px!important; height:50px!important;">
                                            </p>
                                            <p class="comentario" data-ng-show="twit.picture">
                                                <a href="{{twit.link}}" target="_blank">
                                                    <img ng-src="{{twit.picture}}" style="width:50px!important; height:50px!important;">
                                                </a>
                                            </p> 
                                        </div>
                                    </div>
                                </div>                                 
                                
                                <!--mensaje de twitter-->
                                <div ng-switch-when="twitter">
                                    <div class="izq"  style="clear: both;padding-bottom: 4px; width: 100%;">
                                        <p class="nombre-usuario-red txt-azul1 negrita izq" style="padding: 0px;margin:0px;">
                                           <a title="@{{twit.from_user_screen_name}}" class="izq negrita" href="{{twit.urlUsuario}}" target="_blank">{{twit.nombre}} <span class="username">@{{twit.from_user_screen_name}}</span></a>

                                            <a href="{{twit.urlEnlace}}" class="etiqueta-twitter izq" style="margin-left: 5px;" target="_blank">Twitter</a>
                                    
                                            
                                            <label class="etiqueta-twitter izq" style="margin-left: 5px;width: 20px; margin-left: 5px;" title="{{ 'Direct Message' | translate }}" data-ng-if="twit.tipo == 'direct_message'"><i class="fa fa-lock" style="font-size: 10px !important;"></i></label>
                                            
                                            <label class="etiqueta-twitter izq" style="margin-left: 5px;width: 20px; margin-left: 5px;" data-ng-if="twit.retweeted_status" title="Retweet"><i style="font-size: 10px !important;" class="fa fa-retweet"></i></label>
                                            
                                            <label class="etiqueta-twitter izq" style="margin-left: 5px;width: 20px; margin-left: 5px;" data-ng-if="twit.tipo == 'tracker'" title="Tracker"><i class="fa fa-bullseye" style="font: normal normal normal 12px/1 FontAwesome !important;"></i></label>
                                            
                                            <div class="grupo-etiquetas-hora" data-ng-bind-html="twit.created_time | etiquetasFecha"></div>
                                           
                                            <label class="etiqueta-{{twit.tipoMensaje}} izq"  style="margin-left: 5px;text-transform: capitalize;">{{twit.tipoMensaje}}</label>
    
                                            <label data-ng-show="twit.descartado" class="etiqueta-{{twit.descartado.motivo}} izq" style="margin-top:0px; float: right; margin-left: 5px; border-radius: 3px; font-size: 9px;font-weight: 300;text-transform: capitalize;">{{twit.descartado.motivo | translate}}</label>        
                                            
                                            <label class="etiqueta-gris izq"  style="margin-left: 5px; background-color: #465769 !important; cursor:pointer;" data-ng-show="twit.clasificacion.tema" title="{{twit.clasificacion.tema}}">Tema</label>
                                            
                                            <label class="etiqueta-gris izq"  style="margin-left: 5px; background-color: #465769 !important; cursor:pointer;" data-ng-show="twit.clasificacion.subtema" title="{{twit.clasificacion.subtema}}">Subtema</label>                              
                                        </p> 
                                    </div>
                                    <div class="izq" style="clear: both;">
                                        <div data-ng-controller="ModalDemoCtrl">
                                            <!--esto es si es un retwiter-->
                                            <p class="comentario txt-gris3" data-ng-if="twit.retweeted_status.text.length > 300 && twit.retweeted_status" data-ng-bind-html="twit.retweeted_status.text | limitTo:300 | linksTwitter:twit.entities:twit.trackers"></p>
                                            <p class="comentario txt-gris3" data-ng-if="twit.retweeted_status.text.length < 300 && twit.retweeted_status" data-ng-bind-html="twit.retweeted_status.text | linksTwitter:twit.entities:twit.trackers"></p>
                                            <!--esto es si es un retwiter-->
                                            <p class="comentario txt-gris3" style="line-height:17px;" data-ng-if="twit.text.length < 300 && !twit.retweeted_status" data-ng-bind-html="twit.text | linksTwitter:twit.entities:twit.trackers"></p>
                                            <p class="comentario txt-gris3" style="line-height:17px;" data-ng-if="twit.text.length > 300 && !twit.retweeted_status" data-ng-bind-html="twit.text | limitTo:300 | linksTwitter:twit.entities:twit.trackers"></p>
                                        </div>
                                    </div>                  
                                </div>
                            </div>
                            <!--datos-->
                            <div class="iconos-lateral">
                                <ul>
                                    <li class="descartado-usuario" data-ng-show="twit.tipoMensaje === 'descartado'">
                                        <p><img ng-src="{{twit.descartado.imagenUsuario | validaImagenDescartado}}" fallback-src="/modules/core/img/usuario-sem-imagem.png" class="circular-ligero" /><a title="{{twit.descartado.usuario}}" style="padding: 4px 5px; color:#0DBEC8; min-width:190px;">Descartado por {{twit.descartado.usuario | capitalize}}</a></p>
                                    </li>                                   
                                    <li class="atendido-usuario" data-ng-show="twit.tipoMensaje === 'completo'">
                                        <p><img ng-src="{{twit.clasificacion.imagen_usuario}}" fallback-src="/modules/core/img/usuario-sem-imagem.png" class="circular-ligero" /><a title="{{twit.atendido.user_name}}" style="padding: 4px 5px; color:#0DBEC8; min-width:190px;">Atendido por {{twit.atendido.usuario_nombre | capitalize}}</a></p>
                                    </li>                                   
                                    <li class="atendido-usuario" data-ng-show="twit.tipoMensaje === 'atendido'">
                                        <p><img ng-src="{{twit | searchResultImg}}" fallback-src="/modules/core/img/usuario-sem-imagem.png" class="circular-ligero" /><a title="{{twit.clasificacion.user_name}}" style="padding: 4px 5px; display: block; color:#0DBEC8; min-width:190px;" >Atendido por {{twit | validaAtendido | capitalize }}</a></p>
                                    </li>
                                    <li class="asignado-usuario" ng-show="(twit.asignado && !evalua_ocupado(twit._id)) && (twit.tipoMensaje !== 'proceso' && twit.tipoMensaje !== 'completo' && twit.tipoMensaje !== 'descartado' && !twit.clasificacion)">
                                        <p><img ng-src="{{twit.asignado.usuario_asignado_image}}" class="circular-ligero" fallback-src="/modules/core/img/usuario-sem-imagem.png" /><a class="muestra_ocupado_por" title="{{twit.asignado.usuario_asignado_displayName}}" style="padding: 4px 5px; display: block; color:#0DBEC8; min-width:190px;">Asignado a : {{twit.asignado.usuario_asignado_displayName}}</a></p>
                                    </li>
                                    <li class="ocupado-usuario" ng-show="evalua_ocupado(twit._id)">
                                        <p>
                                            <img ng-src="{{ocupados[eval(twit._id)].user_image}}" fallback-src="/modules/core/img/usuario-sem-imagem.png" class="circular-ligero" />
                                            <a class="muestra_ocupado_por" title="{{ocupados[eval(twit._id)].user}}" style="padding: 4px 5px; display: block; color:#FFA500; min-width:190px;">Ocupado por : {{ocupados[eval(twit._id)].user}}</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>  
                <!--Imagen de Carga con scroll-->
                <div ng-show="muestraLoading" id="muestraLoading" align="center">
                    <div class="loader" align="center">
                        <div class="signal"></div>
                          
                    </div>      
                </div>
                <!--Imagen de Carga con scroll-->
                <!--Imagen de Carga donde carga la pagina-->
                <div ng-show="muestraLoadingPrimario" id="muestraLoadingPrimario" align="center">  
                    <div class="loader" align="center">
                        <div class="signal"></div>
                          
                    </div>      
                </div>