<section data-ng-controller="FeedsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Feeds</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="feed in feeds" data-ng-href="#!/feeds/{{feed._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="feed.created | date:'medium'"></span>
				by
				<span data-ng-bind="feed.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="feed.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!feeds.$resolved || feeds.length">
    	No Feeds yet, why don't you <a href="/#!/feeds/create">create one</a>?
    </div>
</section>