<!--Header-->
<div class="pure-u-1-1 header">

	<div class="pure-g border-inf-blanco bg-azul1" style="position:relative;">	
        <div class="pure-u-md-4-24" data-ng-include="'modules/core/views/notificacion.html'">
            <!--<div class="pure-g">
                <div class="pure-u-1-2 border-interno-der">
                    <a href="/auth/signout" class="complete activate_modal" name="salir" id="btn-salir"></a>
                </div>
                <div class="pure-u-1-2">
                    <a href="#" class="complete border-interno-der  tooltipstered" id="campana-salir"></a>
                </div>      
            </div>-->
        </div>  

<div class="pure-u-20-24" align="center">

	 <p class="txt-blanco negrita" style="opacity: .5;" translate>RESUMEN</p>

</div>		

	

	</div>
	</div>
<!--Finaliza header-->
<div class="pure-g" id="contenedor-completo">
  <!--Llamada del side-->
  <div class="pure-u-md-4-24 border-interno-der" id="lateral">
    <div data-ng-include="'/modules/core/views/side.html'"></div>
  </div><!--resumen-->
<div class="pure-u-md-20-24 border-interno-der alto-100 contenedorTemas" align="center" style="margin-top:0 !important;">	
<video autoplay loop style="margin-top:20%">
  <source src="/modules/core/animate/animacion.mp4" type="video/mp4">
</video>
	<!--<br/><br/>
<img src="/modules/core/img/cargando.gif" />-->
</div>
</div>

