<style type="text/css">
   body,html,a{
       background-color:#0dbec8;
       color:#fff;
   }
   
   input[type="text"],input[type="password"]{
   padding:17px 10px;
   width:300px;
   margin-bottom: 11px;
   border:solid 1px #f5f6fa;
   height:31px;
   font-size:16px;
   font-weight:400;
   color:#465769;
   border-radius:3px;
   }
   
   .recordar{
   font-size:12px;
   vertical-align:middle;  
   }
   
   
   .btn {
    color: #465769;
    display: block;
    float: none;
    font-weight: 300;
    margin: 10px auto;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    width: 80%;
}

   
   input[type="submit"]{
       font-weight:300;
       font-size:16px;
       /*text-indent:-15px;*/
       text-align:center;
       
   }
   
   input[type="checkbox"]{
       background: none;
       display:block;
       width:14px;
       height:14px;
   }
   
   
   input::-webkit-input-placeholder {
    color:#BDC6D5 !important;
}

input::-moz-placeholder {
    color:#BDC6D5 !important;
}

input::-ms-placeholder {
    color:#BDC6D5 !important;
}

input::placeholder {
    color:#BDC6D5 !important;
}


   
</style>

<!--<section class="row" data-ng-controller="PasswordController">
+<section class="row" data-ng-controller="PasswordController">
     <h3 class="col-md-12 text-center">Reset your password</h3>
     <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
         <form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
             </fieldset>
         </form>
     </div>
-</section>-->

<div id="login" align="center"  data-ng-controller="PasswordController">
   <img src="/modules/core/img/Likeable_blanco.png" />
   <p class="txt-centro txt-blanco">Restablecer Contraseña</p>
               <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
   <br>
   <form data-ng-submit="resetUserPassword()" class="form-signin form-horizontal" autocomplete="off">
       <table>
          <tr>
               <td colspan="2"><input type="password"  id="newPassword" name="newPassword"   placeholder="Nueva Contraseña" data-ng-model="passwordDetails.newPassword"/></td>
           </tr>
           <tr>
               <td colspan="2"><input type="password" id="verifyPassword" name="verifyPassword" placeholder="Confirmar Contraseña" data-ng-model="passwordDetails.verifyPassword"></td>
           </tr>
           <tr>
               <td style="margin:0px;padding:0px;border:0px;" colspan="2">
                   &nbsp;
               </td>

           </tr>
           <tr>
               <td colspan="2">
                   <input type="submit" value="Actualizar" class="btn btn-naranja txt-blanco" style="width: 155px; font-weight: 400;"/>

               </td>
           </tr>
       </table>
   
   </form>
</div>
