<!--<section class="row text-center">
	<h3 class="col-md-12">Password successfully reset</h3>
	<a href="/#!/" class="col-md-12">Continue to home page</a>
</section>-->
<style type="text/css">
	body,html,a{
		background-color:#0dbec8;
		color:#fff;
	}
	
	input[type="text"],input[type="password"]{
	/*padding:17px 10px;*/
	width:300px;
	margin-bottom: 11px;
	border:solid 1px #f5f6fa;
	height: 40px;
	font-size:16px;
	font-weight:400;
	color:#465769;
	}
	
	.recordar{
	font-size:12px;
	vertical-align:middle;	
	}
	
	
	.btn {
    color: #465769;
    display: block;
    float: none;
    font-weight: 300;
    margin: 10px auto;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    width: 80%;
}
</style>
<div id="login" align="center">
	<div align="center">
		<img src="/modules/core/img/Likeable_blanco.png" /><br/>
		<img src="/modules/core/img/logo-principal.png" style="margin-top: 10px;" />
	</div>
	<div  class="text-center" style="/*height: 40px;*/ overflow: hidden;">
		<p class="txt-centro txt-blanco">La contraseña ha sido actualizada.</p>
	</div>

	<a href="/#!/" class="btn btn-naranja txt-blanco" style="width: 155px; margin-top: 30px;padding-bottom: 10px; margin-top: 10px; font-weight:300; font-size:16px;text-align:center;"  data-ng-class="{'animated-fast shake-fast': error}"/>Continuar</a>

</div>