<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>
<body>
	<center>
		<table width="800" border="0">
		  <tbody>
		    <tr>
		      <td width="400"></td>
		      <td width="400">{{created_time}}</td>
		    </tr>
		    <tr>
		      <td width="799">{{cuenta}} ha sido mencionado por {{user_screen_name}}</td>
		      <td width="1">&nbsp;</td>
		    </tr>
		    <tr>
		      <td width="800" colspan="2"><img src="{{user_image}}">{{text}}</td>
		    </tr>
		    <tr>
		      <td width="400">Atentamente <br>{{appName}}</td>
		      <td width="400">&nbsp;</td>
		    </tr>
		  </tbody>
		</table>
	</center>
	<!--<p>Estimados usuarios, {{cuenta}} :</p>
	<p></p>
	<p>El influencer de twitter {{user_screen_name}}, de la industria {{industria}} escribio: {{text}}</p>
	<p>Con fecha: </p>
	<br>
	<img src="{{user_image}}">
	<p>Da click en el siguiente enlace para dar seguimiento al mensaje.</p>
	<a href="{{url}}">{{url}}</a>
	<br>
	<p>Atentamente,</p>
	<p>El Equipo de {{appName}}</p>
	<br>-->
</body>

</html>