<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
	<!--<p>Dear {{name}},</p>
	<br>
	<p>
		You have requested to have your password reset for your account at {{appName}}
	</p>
	<p>Please visit this url to reset your password:</p>
	<p>{{url}}</p>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br>
	<p>The {{appName}} Support Team</p>-->
<p>Estimado {{name}},</p>
	<br>
	<p>
		 Has solicitado la contraseña de tu cuenta en Likeable CRM.
	</p>
	<p>Visita este url para configurar una nueva contraseña:</p>
	<p>{{url}}</p>
	<strong>Si tú no solicitaste este servicio, puedes ignorar el email y reportarlo al:</strong>
	<p>Tel: (55) 5263 2100 Ext. 1285</p>
	<br>
	<br>
	<p>Atentamente,</p>
	<p>El Equipo de Likeable CRM</p>
</body>

</html>